h2{
  font-family:'BPGRioniArial';
}
table{
    font-size:12px;
}
.btn.btn-danger{
    padding:2px;
}
.detailBox {
    background:white;
}
.titleBox {
    background-color:#2794c6;
    padding:10px;
    border-radius:6px 6px 0 0;
}
.titleBox label{
  font-family:'BPGRioniArial';
  color:#fff;
  margin:0;
  display:inline-block;
}
#console{
  border:none;
  background:none;
}
.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:30px;
    float:left;
    position:relative;
    background-color:#2794c6;
    border-radius:50%;
    position:relative;

}
.commenterImage p {
  color:white;
  position:absolute;
  top:5px;
  left:9px;
}
.commentText p {
    margin:0;
}
.commentText .u-attachment{
  background-color: #BCF3C5;
  border:1px solid #2f9941;
  padding:4px 5px;
  width:200px;
  text-align:center;
  border-radius:5px;
}
.commentText .u-attachment a{
  font-weight:500;
  color:black;
  text-decoration:none;
}
.commentText i{
  margin-right:2px;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
li.upload_status{
  list-style:none;
  color: #d9534f;
  font-family:'mrgvlovani';
  font-size:12px;
}
.detail-task span.progress-status{
  display:block;
  padding-left:40px;
}
span.progress-status h4{
  font-family:'BPGRioniArial';
  color:#fff;
}
span.progress-status .glyphicon.glyphicon-check{
  color: #63C30E;
}
span.progress-status .glyphicon.glyphicon-hourglass{
  color: #FFE200;
}
.detail-task .detail-list li i{
  margin-right:12px;
  color: #2794C6;
}
.detail-task .detail-list li{
  list-style:none;
  font-size:14px;
  font-family:'BPGRioniArial';
  line-height:2;
  color: white;
}
.detail-task .detail-list li:first-child{
  font-size:18px;
  border-bottom:1px dotted #bbb;
}
div.well.tasks{
  background: #222222;
  min-height:400px;
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.commentList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
.commentList::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(39, 148, 198,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.commentList::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(39, 148, 198,0.8); 
}
button#browse{
  color:#fff;
  background: #2794C6;
}
button#start-upload{
  color:#fff;
  background: #63C30E;
}
button#send-message{
  color:#fff;
  background: #2794C6;
}
.modal-content{
  border-radius:0;
  font-family:'BPGRioniArial';
}
.btn-primary.create-task{
  font-size:14px;
  border-color: #777;
  background: #3c763d;
}
.btn-primary.create-task:hover {
  background:#5CB85C;
}
.btn-default.cancel-task{
  font-size:14px;
  color:#fff;
  border-color: #777;
  background: #a94442;
}
.btn-default.cancel-task:hover {
  background: #d9534f;
}