table{
    font-size:12px;
}
.btn.btn-danger{
    padding:2px;
}
.detailBox {
    border:1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:30px;
    float:left;
    position:relative;
    background-color:#2794c6;
    border-radius:50%;
    position:relative;

}
.commenterImage p {
  color:white;
  position:absolute;
  top:5px;
  left:9px;
}
.commentText p {
    margin:0;
}
.commentText .u-attachment{
  background-color: #BCF3C5;
  border:1px solid #2f9941;
  padding:4px 5px;
  width:200px;
  text-align:center;
  border-radius:5px;
}
.commentText .u-attachment a{
  font-weight:500;
  color:black;
  text-decoration:none;
}
.commentText i{
  margin-right:2px;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
li.upload_status{
  list-style:none;
  color: #d9534f;
  font-family:'mrgvlovani';
  font-size:12px;
}